/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Banner Styles */
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

/* Navbar Styles */
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #ccff00;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ccff00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    width: 400px; /* Set the desired width of the popup */
    max-width: calc(100% - 40px); /* Limit maximum width to prevent overflow */
}

.popup-content {
    text-align: center;
    position: relative;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Add space between image and buttons */
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
}

.popup-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Add spacing between buttons */
}

.popup-content button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}
